<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col lg="7" md="9" xl="6">
                <c-card class="mx-4">
                    <c-card-body class="p-4">
                        <form cForm [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                            <h1>Reset Password</h1>
                            <p class="text-body-secondary">Enter your new password</p>
                            <c-input-group class="mt-3">
                                <span cInputGroupText>
                                    <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input autoComplete="new-password" cFormControl placeholder="Password" type="password"
                                    formControlName="NewPassword" />
                            </c-input-group>

                            @if (isSubmitted && resetPasswordForm.get('NewPassword')?.errors?.['required']) {
                            <div class="text-danger">Password is required</div>
                            }
                            @if (isSubmitted && resetPasswordForm.get('NewPassword')?.dirty &&
                            resetPasswordForm.get('NewPassword')?.errors?.['passwordStrength']; as passwordErrors) {

                            @if (!passwordErrors.hasMinLength) {
                            <div class="text-danger">
                                Password must be at least 6 characters long.
                            </div>
                            }

                            @if (!passwordErrors.hasUpperCase) {
                            <div class="text-danger">
                                Password must contain an uppercase letter.
                            </div>
                            }

                            @if (!passwordErrors.hasLowerCase) {
                            <div class="text-danger">
                                Password must contain a lowercase letter.
                            </div>
                            }

                            @if (!passwordErrors.hasNumber) {
                            <div class="text-danger">
                                Password must contain a number.
                            </div>
                            }

                            @if (!passwordErrors.hasSpecialChar) {
                            <div class="text-danger">
                                Password must contain a special character.
                            </div>
                            }

                            }


                            <c-input-group class="mt-3">
                                <span cInputGroupText>
                                    <svg cIcon name="cilLockLocked"></svg>
                                </span>
                                <input autoComplete="new-password" cFormControl placeholder="Confirm Password"
                                    type="password" formControlName="ConfirmPassword" />
                            </c-input-group>
                            @if (isSubmitted && resetPasswordForm.get('ConfirmPassword')?.errors?.['required'] ) {
                            <div class="text-danger">Please confirm your password</div>
                            }
                            @if (resetPasswordForm.errors?.['mismatch'] &&
                            resetPasswordForm.get('ConfirmPassword')?.touched) {
                            <div class="text-danger">
                                Passwords do not match
                            </div>
                            }
                            <div class="d-grid mt-3">
                                <button type="submit" cButton color="success">Reset Password</button>
                            </div>
                        </form>
                        <p class="text-body-secondary mt-2">Got an account? <a routerLink="/login">Login
                                here</a></p>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>