<div class="container-fluid">

    <div class="animated fadeIn mb-4 d-flex justify-content-between align-items-center">

        <div>
            <h2 class="card-title mb-0">
                Bulk Employee Upload
            </h2>
            <p class="text-muted mb-0">
                Add multiple employees in one request.
            </p>
        </div>

    </div>

    <!-- Instructions -->
    <div class="alert alert-danger rounded-4 border-1 shadow-sm mb-4">
        <h6 class="fw-bold mb-2">
            Instructions
        </h6>
        <ul class="mb-0">
            <li>Full Name is required.</li>
            <li>Email should be unique.</li>
        </ul>

    </div>

    <!-- Card -->
    <div class="card shadow rounded-4 border-2 mb-4">
        <div class="card-body p-0">
            <form [formGroup]="bulkForm">
                <div formArrayName="employees">
                    <div class="table-responsive">
                        <table class="table table-bordered rounded-2 table-hover align-middle">
                            <thead class="table-primary">

                                <tr>
                                    <th>No.</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Salary</th>
                                    <th>Department</th>
                                    <th>Action</th>
                                </tr>

                            </thead>
                            <tbody>
                                @for(employee of employees.controls; track employee; let i = $index){
                                <tr [formGroupName]="i">
                                    <td class="text-center">{{i + 1}}</td>
                                    <!-- Full Name -->
                                    <td>
                                        <input class="form-control" placeholder="Enter Full Name"
                                            formControlName="fullName">
                                        @if(employee.get('fullName')?.touched && employee.get('fullName')?.invalid){
                                        <small class="text-danger">
                                            @if(employee.get('fullName')?.errors?.['required']){
                                            Full Name is required.
                                            }
                                            @if(employee.get('fullName')?.errors?.['pattern']){
                                            Full Name must contain only letters and spaces.
                                            }
                                            @if(employee.get('fullName')?.errors?.['minlength']){
                                            Full Name must be at least 2 characters long.
                                            }
                                        </small>
                                        }
                                    </td>
                                    <!-- Email -->
                                    <td>
                                        <input class="form-control" placeholder="Enter Email" formControlName="email">
                                        @if(employee.get('email')?.touched && employee.get('email')?.invalid){
                                        <small class="text-danger">
                                            @if(employee.get('email')?.errors?.['required']){
                                            Email is required.
                                            }
                                            @if(employee.get('email')?.errors?.['email']){
                                            Invalid Email.
                                            }
                                            @if(employee.get('email')?.touched &&
                                            employee.get('email')?.errors?.['duplicateEmail']){
                                            Email already exists in this list.
                                            }
                                        </small>
                                        }
                                    </td>
                                    <!-- Salary -->

                                    <td>
                                        <input type="number" class="form-control" placeholder="Salary"
                                            formControlName="salary">
                                        @if(employee.get('salary')?.touched &&
                                        employee.get('salary')?.invalid){
                                        <small class="text-danger">
                                            @if(employee.get('salary')?.errors?.['required']){
                                            Salary is required.
                                            }
                                            @if(employee.get('salary')?.errors?.['min']){
                                            Salary must be greater than 0.
                                            }
                                        </small>
                                        }
                                    </td>

                                    <!-- Department -->

                                    <td>

                                        <select class="form-select" formControlName="departmentId">

                                            <option [value]=0 selected>
                                                Select Department
                                            </option>

                                            @for(dept of departments ?? []; track dept.departmentId){

                                            <option [value]="dept.departmentId">

                                                {{ dept.departmentName | titlecase }}

                                            </option>

                                            }

                                        </select>

                                        @if(employee.get('departmentId')?.touched &&
                                        employee.get('departmentId')?.invalid){

                                        <small class="text-danger">

                                            Department is required.

                                        </small>

                                        }

                                    </td>

                                    <!-- Delete -->

                                    <td>

                                        <div class="d-flex justify-content-center gap-2">

                                            <button type="button" class="btn btn-success btn-sm" (click)="addRow()">

                                                Add Row
                                            </button>

                                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteRow(i)"
                                                [disabled]="employees.length===1">

                                                Delete Row

                                            </button>

                                        </div>

                                    </td>

                                </tr>

                                }

                            </tbody>

                        </table>

                    </div>

                </div>

            </form>

        </div>

        <div class="card-footer bg-light border-top">

            <div class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-3">

                <div class="d-flex align-items-center">
                    <span class="fw-semibold text-secondary">
                        Total Employees :
                    </span>

                    <span class="ms-1 accordion-header-badge badge rounded-pill bg-primary">
                        {{ employees.length }}
                    </span>
                </div>

                <div class="d-flex gap-2">

                    <button type="button" class="btn btn-outline-danger px-4" (click)="resetForm()">
                        Cancel
                    </button>

                    <button type="button" class="btn btn-success px-4" (click)="saveAll()">
                        Save All Employees
                    </button>

                </div>

            </div>

        </div>

    </div>

</div>