<div class="tree-node">
    <div class="employee-card" [class.has-children]="node.children && node.children.length > 0" (click)="toggle()">

        <img class="avatar"
            [src]="node.profileImage ? 'https://localhost:7177/Documents/ProfileImage/' + node.profileImage : defaultImage"
            [alt]="node.fullName || 'Profile Image'" (error)="node.profileImage = null">
        <div class="card-info">
            <h4 class="name">{{node.fullName | titlecase }}</h4>
            <p class="position">{{node.positionName | titlecase }}</p>
            <p class="department">
                {{node.departmentName | titlecase }}
            </p>
        </div>

        <div class="expand-icon" *ngIf="node.children && node.children.length > 0">
            <span class="icon" [class.expanded]="expanded">▼</span>
        </div>
    </div>

    <div class="children" *ngIf="expanded && node.children && node.children.length > 0">
        <app-hierarchy-node *ngFor="let child of node.children" [node]="child" class="child-node-wrapper">
        </app-hierarchy-node>
    </div>
</div>