<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col lg="7" md="9" xl="6">
                <c-card class="mx-4">
                    <c-card-body class="p-4">
                        <form cForm (ngSubmit)="onSubmit()" [formGroup]="forgotPasswordForm">
                            <h1>Forgot Password</h1>
                            <p class="text-body-secondary">Enter your email address to reset your password</p>

                            <c-input-group class="mt-3">
                                <span cInputGroupText>&#64;</span>
                                <input autoComplete="email" cFormControl placeholder="Email" formControlName="Email" />
                            </c-input-group>
                            @if (isSubmitted && forgotPasswordForm.get('Email')?.errors?.['required']) {
                            <div class="text-danger">
                                Email is required
                            </div>
                            }

                            @if (isSubmitted && forgotPasswordForm.get('Email')?.errors?.['email']) {
                            <div class="text-danger">
                                Please enter a valid email address
                            </div>
                            }

                            @if (isSubmitted && forgotPasswordForm.get('Email')?.errors?.['duplicate']) {
                            <div class="text-danger">
                                Email already exists
                            </div>
                            }

                            <div class="d-grid mt-3">
                                <button type="submit" cButton color="success">Reset Password</button>
                            </div>
                        </form>
                        <p class="text-body-secondary mt-2">Don't have an account? <a routerLink="/register">Register
                                here</a></p>
                    </c-card-body>
                </c-card>
            </c-col>
        </c-row>
    </c-container>
</div>