<div class="container-fluid">
    <div
        class="animated fadeIn mb-4 d-flex flex-column flex-md-row justify-content-between align-items-md-center gap-2">

        <h1 class="card-title mb-0">Employee List</h1>

        <div class="d-flex gap-2 d-flex flex-wrap gap-2 justify-content-end">

            @if (hasRole('admin','manager')) {
            <button class="btn btn-primary" routerLink="/employees/add-employee">
                Add Employee
            </button>
            }

            @if(hasRole('admin')) {
            <button class="btn btn-primary" routerLink="/employees/bulk-employees">
                Bulk Upload Employee
            </button>

            <button class="btn btn-danger" (click)="bulkDelete()" [disabled]="selectedEmployeeIds.length==0">
                Delete Selected ({{selectedEmployeeIds.length}})
            </button>

            }
            @if(hasRole('admin','manager')) {
            <button class="btn btn-success" [disabled]="selectedEmployeeIds.length==0" (click)="bulkUpdate()">
                Save Selected ({{selectedEmployeeIds.length}})
            </button>
            <button class="btn btn-secondary" (click)="exportSelected()">
                Import Excel ({{selectedEmployeeIds.length}})
            </button>
            }
        </div>

    </div>
</div>

<div class="card mb-4 accordion mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5>Employee List</h5>

        <div class="float-end">
            <input type="text" class="form-control" placeholder="Search Employee" [(ngModel)]="searchText"
                (input)="onSearch()">
        </div>
    </div>

    <div class="card-body">
        @if(Employees().length > 0) {
        <form [formGroup]="employeeForm">
            <div class="table-responsive">
                <table class="table table-striped neon-table" matSort (matSortChange)="sortData($event)"
                    formArrayName="employees">
                    <thead>
                        <tr>
                            @if (hasRole('admin','manager')) {
                            <th width="50">
                                <input type="checkbox" (change)="toggleSelectAll($event)"
                                    [checked]="selectedEmployeeIds.length === Employees().length && Employees().length > 0">
                            </th>
                            }
                            <th mat-sort-header="employeeId">ID</th>
                            <th mat-sort-header="fullName">Name</th>
                            <th mat-sort-header="email">Email</th>
                            <th mat-sort-header="phoneNumber">Phone</th>
                            <th mat-sort-header="salary">Salary</th>
                            <th mat-sort-header="departmentId">Department</th>
                            <th mat-sort-header="createdAt">Created At</th>
                            <th mat-sort-header="positionId">Position</th>
                            <th mat-sort-header="ReportsToEmployeePositionId">Manager Email</th>
                            <th>Available</th>
                            @if (hasRole('admin','manager','employee')) {
                            <th>Action</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let employee of Employees(); let i = index" [formGroupName]="i">
                            @if (hasRole('admin','manager')) {
                            <td>

                                <input type="checkbox" [checked]="isSelected(employee.employeeId)"
                                    (change)="toggleSelection(employee.employeeId,$event)">

                            </td>
                            }
                            <td>{{ i + 1 }}</td>
                            <td>
                                @if(isRowEditable(employee.employeeId)){

                                <input class="form-control" formControlName="fullName">

                                }@else{

                                {{employee.fullName}}
                                }


                            </td>
                            <td>

                                @if(isRowEditable(employee.employeeId) && hasRole('admin')){

                                <input type="email" class="form-control" formControlName="email">

                                @if(employeeArray.at(i).get('email')?.invalid &&
                                employeeArray.at(i).get('email')?.touched){

                                <small class="text-danger">

                                    Invalid Email

                                </small>

                                }

                                }@else{

                                {{employee.email}}

                                }

                            </td>
                            <td>
                                {{employee.phoneNumber || '-'}}
                            </td>
                            <td> @if(isRowEditable(employee.employeeId) && hasRole('admin')){

                                <input type="number" class="form-control" formControlName="salary">

                                }@else{@if(employee.salary !== null && employee.salary !== undefined) {
                                {{ employee.salary | currency:'INR':'symbol':'1.0-0' }}
                                } @else { - } }
                            </td>

                            <td>@if(isRowEditable(employee.employeeId)){
                                <select class="form-select" formControlName="departmentId">
                                    <option [ngValue]="null">Select Department</option>

                                    <option *ngFor="let dept of Departments()" [ngValue]="dept.departmentId">
                                        {{ dept.departmentName | titlecase }}
                                    </option>
                                </select> } @else {
                                @if(employee.departmentName) {
                                {{ employee.departmentName | titlecase }}
                                } @else { - } }
                            </td>
                            <td>{{ employee.createdAt | date }}</td>
                            <td>{{ employee.positionName | titlecase }}</td>
                            <td>{{ employee.managerEmail }}</td>

                            <td>
                                @if(isRowEditable(employee.employeeId)){

                                <select class="form-select" formControlName="isActive">

                                    <option [ngValue]="true">Active</option>

                                    <option [ngValue]="false">Inactive</option>

                                </select>

                                }@else{
                                @if (hasRole('admin', 'manager')) {

                                <button class="btn btn-sm" [ngClass]="employee.isActive ? 'btn-success' : 'btn-danger'"
                                    (click)="changeStatus(employee.employeeId, !employee.isActive)"
                                    [disabled]="isBulkEditMode()">

                                    {{ employee.isActive ? 'Active' : 'Inactive' }}

                                </button>

                                } @else {

                                <span class="badge" [ngClass]="employee.isActive ? 'bg-success' : 'bg-danger'">
                                    {{ employee.isActive ? 'Active' : 'Inactive' }}
                                </span>

                                } }
                            </td>

                            @if (hasRole('admin','manager','employee')) {
                            <td>
                                <div class="d-flex gap-2 flex-nowrap">
                                    <button class="btn btn-sm btn-outline-primary"
                                        [routerLink]="['/employees/edit-employee', employee.employeeId]"
                                        [disabled]="isBulkEditMode()">Edit</button>

                                    @if(hasRole('admin','manager')){
                                    <button class="btn btn-sm btn-outline-danger ms-2"
                                        (click)="deleteEmployee(employee.employeeId)"
                                        [disabled]="isBulkEditMode()">Delete</button>
                                    }
                                </div>
                            </td>
                            }

                        </tr>
                    </tbody>
                </table>
            </div>
        </form>
        <mat-paginator [length]="totalRecords" [pageSize]="pageSize" [pageSizeOptions]="[3,5,10,20]"
            showFirstLastButtons (page)="pageChanged($event)"></mat-paginator>


        } @else {
        <div class="alert alert-info text-center m-4" role="alert">
            <h3>No Employees Found</h3>
            <p>There are no employee records available.</p>
        </div>
        }
    </div>
</div>