<div class="card mt-4">
    <h4 class="card-header">
        Employees with Departments
    </h4>

    <div class="card-body accordion ">

        <input type="text" class="form-control mb-3" placeholder="Search Employee..." (keyup)="applyFilter($event)">

        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" matSort
                class="mat-elevation-z8 w-100 table table-striped neon-table">

                <!-- Employee ID -->
                <ng-container matColumnDef="employeeId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let emp">
                        {{ emp.employeeId }}
                    </td>
                </ng-container>

                <!-- Name -->
                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                    <td mat-cell *matCellDef="let emp">
                        {{ emp.fullName | titlecase }}
                    </td>
                </ng-container>

                <!-- Email -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell *matCellDef="let emp">
                        {{ emp.email | lowercase }}
                    </td>
                </ng-container>

                <!-- Phone -->
                <ng-container matColumnDef="phoneNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
                    <td mat-cell *matCellDef="let emp">
                        {{ emp.phoneNumber || '-' }}
                    </td>
                </ng-container>

                <!-- Salary -->
                @if(hasRole('admin'))
                {
                <ng-container matColumnDef="salary">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Salary</th>
                    <td mat-cell *matCellDef="let emp">
                        {{ emp.salary | currency:'INR' }}
                    </td>
                </ng-container>
                }
                <!-- Department -->
                <ng-container matColumnDef="departmentName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                    <td mat-cell *matCellDef="let emp">
                        {{ emp.departmentName || '-' | titlecase }}
                    </td>
                </ng-container>
                <!-- Position -->
                <ng-container matColumnDef="positionName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
                    <td mat-cell *matCellDef="let emp">
                        {{ emp.positionName || '-' | titlecase }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="6">
                        No employees found.
                    </td>

            </table>
        </div>

        <mat-paginator [pageSizeOptions]="[3,5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
</div>